<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        .box{
            width: 50px;
            height: 50px;
            background:{{color2}};
            display: inline-block;
        }
        main{
            font-size: 0; /*to remove the spaces between the inline divs*/
      
        }
    </style>
 </head>
 <body>
     <main>
        {%for i in range(x):%}
        {%for j in range(y):%}
            {%if (i+j)%2!=0: %}
                {% set color = color1%}
            {%endif%}
                <div class="box" style="background-color: {{color}};"></div>
                
        {%endfor%}
        <br>
    {%endfor%} -->

</main>

</body>
</html>   
