<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <h2>I am Thinking of a number between 1 and 100</h2>
    <h3>Take a guess!</h3>
    <form action="/guess" method="post">
        {% csrf_token %}
        <input style="border: 2px solid black;" type="text" id="user_num" name ="user_num" placeholder="Enter a number...">
        <br><br>
        <input class="bluebutton" type="submit" name="button" value="Submit">
    </form>
    {%if request.session.random_num == request.session.user_num%}
    <h3> Success</h3>
    <!-- {%elif request.session.random_num > request.session.user_num%}
    <h3> Too Low!</h3>
    {%elif request.session.random_num < request.session.user_num%}
    <h3> Too High!</h3> -->
    {%endif%}
</body>
</html>