<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Regisration Page</title>
    <style>
        .flex{
            display: flex;
        }
        input{
            margin-left: 5px;
            margin-bottom: 5px;
        }
        #container{
            margin: 0px auto;
            width: 700px;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div id="container">
        <div>
            <h1>Regitration</h1>
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/register" method="post">
                {% csrf_token %}
                <div class="flex">
                    <div> First Name</div>
                    <input type="text" name="fname" placeholder="First Name">
                </div>
                <div class="flex">
                    <div> Last Name</div>
                    <input type="text" name="lname" placeholder="Last Name">
                </div>
                <div class="flex">
                    <div> Birthday Date</div>
                    <input type="date" name="Bday" placeholder="Birthday Date">
                </div>
                <div class="flex">
                    <div> Email</div>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="flex">
                    <div>Password</div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="flex">
                    <div>Confirm Password</div>
                    <input type="password" name="confirmpassword" placeholder="Confirm Password">
                </div>
                <input type="submit" name="button" value="Register">
            </form>
        </div>

        <div>
            <h1>Login</h1>
            {% if messages %}
                <ul class="request.session.login_messages">    
                    {% for message in message %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/login" method="post">
                {% csrf_token %}
                <div class="flex">
                    <div> Email</div>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="flex">
                    <div>Password</div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <input type="submit" name="button" value="Login">
            </form>
        </div>
    </div>
</body>
</html>