<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        .flex{
            display: flex;
        }
        #margin{
            margin-top: 35px;
            margin-left: 800px;
        }
        h4{
            color: rgb(29, 151, 29);
        }
    </style>
</head>
<body>
    <div class ="flex">
        <div>
            <h1>Success! Welcome, {{request.session.fname}} {{request.session.lname}}!</h1>
            <h4>Successfully refistered (or logged in)</h4>
        </div>
        <h3 id="margin">
            <a href="/logout">Logout</a>
        </h3>
    </div>
    <a href="/wall">Go to Wall Page</a>
    
</body>
</html>