<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <style>
        .flex{
            display: flex;
        }
        .margin{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="flex">
        <h2>Add a new Show</h2>
        <h2 class="margin"><a href="/shows">Go Back</a></h2>
    </div>
    <form action="/process_data" method="post">
        {% csrf_token %}
        <div>Title:</div>
        <input type="text" name="title">
        <div class="flex">
            <div>
                <div>Netwrok</div>
                <input type="text" name="network">
            </div>

            <div>
                <div>release date</div>
                <input type="date" name="date">
            </div>

        </div>
        <div>Description</div>
        <textarea name="desc" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" name="button" value="Create">
    </form>
</body>
</html>