<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Books Page</title>
    <style>
        .flex{
            display: flex;
        }
        input{
            margin-left: 5px;
            margin-bottom: 5px;
        }
        #container{
            margin: 0px auto;
            width: 700px;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div id="container">
        <div>
            <h1>Add a book</h1>
            <form action="/add_book" method="post">
                {% csrf_token %}
                <div class="flex">
                    <div> Title</div>
                    <input type="text" name="title">
                </div>
                <div class="flex">
                    <div>Description</div>
                    <input type="text" name="desc">
                </div>
                <input type="submit" name="button" value="Add">
            </form>
        </div>

        <div>
            <table style="width: 200px;" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Action</th>

                    </tr>
                </thead>
        
                <tbody>
                    {% for book in all_books %}
                        <tr>
                                <td>{{book.id}}</td>
                                <td>{{book.title}}</td>
                                <td><a href="books/{{book.id}}">view</a></td> 
                        </tr>
                    
                    {% endfor %}
                </tbody>
                    
            </table>
        </div>
    </div>
</body>
</html>